<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.SeckillProductMapper">

    <resultMap id="BaseResultMap" type="generator.domain.entity.SeckillProduct">
        <id property="id" column="id"/>
        <result property="activityId" column="activity_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="seckillPrice" column="seckill_price"/>
        <result property="originalPrice" column="original_price"/>
        <result property="totalStock" column="total_stock"/>
        <result property="surplusStock" column="surplus_stock"/>
        <result property="sold" column="sold"/>
        <result property="limitPerUser" column="limit_per_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activity_id,product_id,product_name,seckill_price,original_price,
        total_stock,surplus_stock,sold,limit_per_user,create_time,
        update_time
    </sql>
</mapper>
